/*-------------------------
- Default CSS rules (normalize.css is already called in the HTML)
-------------------------*/

/* Base classes */

html,
body {
  height: 100%;
  width: 100%;
}

strong,
.strong {
  font-weight: 700;
}

italic, em {
  font-style: italic;
}

/* Style Defaults that we use alot */

.horz-bar {
  border-top: 1px solid; /* Border color/opacity should be specified in theme.css */
  margin: 5px 0;
  width: 100%;
}

.map {
  height: 100%;
  position: relative;
  width: 100%;
}

.vert-bar {
  border-right: 1px solid; /* Border color/opacity should be specified in theme.css */
  display: inline-block;
  height: 100%;
  margin: 0 5px;
  vertical-align: middle;
}
