/*-------------------------
- Project general CSS rules
-------------------------*/

/* Fonts and typography */

html,
body {
  background-color: #eee;
  color: #222;
  font-family: 'Raleway', 'Arial', sans-serif; /* text/default font */
  font-size: 16px;
  line-height: 1.6;
}

.horz-bar,
.vert-bar {
  border-color: #252525;
}

h1,
h2,
h3 {
  line-height:1.2
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: none;
}
