/*-------------------------
- Main page Layout CSS rules
-------------------------*/

nav {
  float: left;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.stats-table {
  width: 100%;
}
