/*-------------------------
- Main page Layout CSS rules
-------------------------*/

nav {
  float: left;
}

.wrapper {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 50px;
}
