/*-------------------------
- About page Layout CSS rules
-------------------------*/

nav {
  float: left;
}

.main-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
